*{
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 236, 202);
    max-height: 100vh;
    overflow-y: hidden;
}

.column{
    width: 50%;
    float: left;
    height: 100vh;
    padding: 20px;
    
}


#left-column{
    /* width: 50%;
    float: left;
    height: 100vh;
    padding: 20px; */
}

#right-column{
    /* background-color: teal; */
    /* width: 50%;
    float: left;
    height: 100vh;
    padding: 20px; */
}

#page-text{
    font-size: 70px;
}

#text-footer{
    background-color: cadetblue;
    font-size: 15px;
    bottom: 0;
    position: absolute;
    width: 49.5%;
    
}

#filter-text{
    background: linear-gradient(to right, #A8515D ,  #F3B85F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   
}

#phone-display-container{
    /* padding: 30px; */
    text-align: center;
    padding-top: 20px; 
    background-color: rgb(180, 214, 197);
    width: 420px;
    height: 820px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#phone-display{
    background-color: antiquewhite;
    width: 411px;
    height: 731px;
   
}

#phone-screen{
    background-color: rgb(95, 169, 180);
    width: 400px;
    height: 500px;
}

#slider #text{
    color: #fff;
}

#range{
    width: 300px;
}

#button-container{
    padding: 10px;
    
}


#filter-container{
    padding-top: 35px;
}

#filter-name{
    color: #fff;
}

#upload-label{
    margin: 0px 13px 10px 0px;
    float: right;
    font-size: 15px;
}

#upload-image-button{
    opacity: 0;
}

/* #upload-label:hover{ */
    /* background-color: rgba(95, 169, 180, 0.5); */
    /* padding: 2px 10px 2px 10px; */
    /* margin: 0px 10px 9px 0px; */
    /* height: 30px;
    width: 120px; */
/* } */


.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px 0 40px 0;
}

.grid-item-label{
    /* text-align: center; */
    margin: auto;
}

.grid-item-button{
    height: 53px;
    width: 53px;
    border-radius: 50%;
    /* margin: auto; */
    float: right;
    margin: 10px 0px 0px 25px;
}

#filter1{
    /* margin: 10px 0px 0px 25px; */
   
}

/* #page-title{
    background-color: coral;
    width: 100%;
    height: 10%;
}

#page-text{
    font-size: 70px;
    background-color: aliceblue;
    width: 100%;
}

#grid{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item{
    width: 50vw;
    float: left;
}

#phone-display{
    background-color: bisque;
    height: 100%;
    font-size: 70px;
    width: 100%;
} */

