*{
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 236, 202);
    background-image: url("./images/background.png");
    max-height: 100vh;
    overflow-y: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

#page-title{
    background: linear-gradient(to right, #A8515D ,  #F3B85F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.column{
    width: 50%;
    float: left;
    height: 100vh;
    padding: 20px;
    
}

#page-text{
    font-size: 70px;
}

#text-footer{
    font-size: 10px;
    bottom: 0;
    position: absolute;
    width: 49.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(85,85,85);
}

#subtext{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#filter-text{
    background: linear-gradient(to right, #9D50BB ,  #6E48AA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   
}

#phone-display-container{
    text-align: center;
    padding-top: 20px; 
    background-color: rgb(36, 34, 45);
    width: 420px;
    height: 820px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#phone-display{
    background-color: antiquewhite;
    width: 411px;
    height: 731px;  
}

#phone-screen{
    background-color: rgb(0,0,0);
    width: 400px;
    height: 500px;
    position: relative;  
}

#draw{
    position: absolute;
    right: 204;
    display: none;
    width: 400px;
    height: 500px;
    
}

#slider #text{
    color: #fff;
}

#range{
    width: 300px;
}

#button-container{
    padding: 10px;  
}

#filter-container{
    padding-top: 20px;
}

#filter-name{
    color: #fff;
}

#upload-label{
    margin: 10px 25px 0px 0px;
    float: right;
    font-size: 15px;
    color: #f6eadb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#upload-image-button{
    opacity: 0;
}

#discard-label{
    margin: 10px 0px 0px 25px;
    float: left;
    font-size: 15px;
    color: #f6eadb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#discard-change-button{
    opacity: 0;
}

i{
    padding-right: 5px;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 35px 0 35px 0;
}

.grid-item-label{
    margin: auto;
}

.grid-item-button{
    height: 53px;
    width: 53px;
    border-radius: 50%;
    float: right;
    margin: 10px 0px 0px 25px;
    text-decoration: none;
    background-color: transparent;
}

#grayscale-filter{
    background-image: url("./images/Grayscale.png");
    background-size: cover;
    border: none;
    min-width: 65px;
    min-height: 65px;
}

#grayscale-filter:active{
    background-color: #f2709c;
    animation: processing 5s infinite;
}

@keyframes processing {
    from {
        background-color: #f2709c;
    }
    to{
        background-color: #ff9472;

    }

    to{
        background-color: #ffc500;
    }
    
}

#sunshine-filter{
    background-image: url("./images/Sunshine.png");
    background-size: cover;
    border: none;
    min-width: 65px;
    min-height: 65px;
}

#sunshine-filter:active{
    background-color: #f2709c;
    animation: processing 5s infinite;
}

@keyframes processing {
    from {
        background-color: #f2709c;
    }
    to{
        background-color: #ff9472;

    }

    to{
        background-color: #ffc500;
    }
    
}

#draw-filter{
    background-image: url("./images/Draw.png");
    background-size: cover;
    border: none;
    min-width: 65px;
    min-height: 65px;
}

#draw-filter:active{
    background-color: #f2709c;
    animation: processing 5s infinite;
}

@keyframes processing {
    from {
        /* border-color:#f2709c; */
        background-color: #f2709c;
    }
    to{
        /* border-color:#9bc5c3; */
        background-color: #ff9472;

    }

    to{
        background-color: #ffc500;
    }
    
}

#cool-filter{
    background-image: url("./images/Cool.png");
    background-size: cover;
    border: none;
    min-width: 65px;
    min-height: 65px;
}

#cool-filter:active{
    background-color: #f2709c;
    animation: processing 5s infinite;
}

@keyframes processing {
    from {
        /* border-color:#f2709c; */
        background-color: #f2709c;
    }
    to{
        /* border-color:#9bc5c3; */
        background-color: #ff9472;

    }

    to{
        background-color: #ffc500;
    }
    
}

#prompt{
    padding-top: 20px;
    color: #f6eadb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tulip input[type= button]{
    background-color: #fc8585;
    border: none;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#topaz input[type= button]{
    background-color: #ffc86d;
    border: none;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

#champagne input[type= button]{
    background-color: #fbdba2;
    border: none;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

#antique input[type= button]{
    background-color: #f6eadb;
    border: none;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

#sky input[type= button]{
    background-color: #85cbd9;
    border: none;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#brush-setting{
    margin-top: 20px;
}

#brush-name{
    padding-right: 10px;
}

output{
    padding-left: 10px;
}

#brush-size{
    padding-top: 20px;
}

#close-palette{
    margin: 0px 20px 20px 0px;
    display: none;

}

#draw-palette{
    display: none;
}

#close{
    background-color: transparent;
    border: none;
    text-decoration: none;
    float: right;
    
}

.ri-close-fill{
    font-size: 20px;
    color: #ffffff;
}

#palette{
    margin-top: 20px;
}

.label{
    color: #f6eadb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}