*{
    box-sizing: border-box;
}
body{
    background-color: #01184A;
    max-height: 100vh;
    overflow-y: hidden;
}

.column{
    width: 50%;
    float: left;
    height: 100vh;
    padding: 20px;
    
}


#left-column{
    background-color: red;
    /* width: 50%;
    float: left;
    height: 100vh;
    padding: 20px; */
}

#right-column{
    background-color: teal;
    /* width: 50%;
    float: left;
    height: 100vh;
    padding: 20px; */
}

#page-text{
    background-color: aliceblue;
    font-size: 70px;
}

#text-footer{
    background-color: cadetblue;
    font-size: 15px;
    bottom: 0;
    position: absolute;
    width: 49.5%;
    
}

#filter-text{
    background: linear-gradient(to right, red , yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   
}

#phone-display{
    background-color: antiquewhite;
    width: 411px;
    height: 731px;
    
   
}

/* #page-title{
    background-color: coral;
    width: 100%;
    height: 10%;
}

#page-text{
    font-size: 70px;
    background-color: aliceblue;
    width: 100%;
}

#grid{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item{
    width: 50vw;
    float: left;
}

#phone-display{
    background-color: bisque;
    height: 100%;
    font-size: 70px;
    width: 100%;
} */

